.accordion {
    position: absolute;
    width: 400px;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.item {
    background: rgba(255, 255, 255, 0.497);
    margin-bottom: 5px;
    padding: 2px 10px;
    border-radius: 10px;
}

.title {
    color:rgb(162, 69, 30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.content{
    color:rgb(0, 0, 0);
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}